h1{
	margin-top: 10px;
	font-size: 36px;
	color:white;
    font-weight:bold;
}
body{
	background-repeat: no-repeat;
}

form label{
	color:#555;
	font-size: 20px;
}
#form_set{
	margin-bottom:40px;
	margin-left: 400px;
	margin-right: 400px;
	padding-top: 5px;
	padding: 15px;
	border-radius: 5px;
    background-color: #f2f2f2;
}
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 14px;
    resize: vertical;
}
input[type=submit],[type=button] {
    background-color:#00ffbf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color:red;
    font-size: 20px;
}
input[type=submit]:hover {
    background-color:#80ff00;
}
input[type=button]:hover {
    background-color:#80ff00;}
 a{
 	text-decoration-line: none;
 	float: right;
 }
 #search{
 	width: 200px;
 }
 #search_submit{
 	
 	width: 40px;
 	height: 40px;
	border-radius: 5px;
 }
 #search_submit:hover{
    background: #ccc;
 }
 
 table{
 	clear: both;
    width: 100%;
   
 }
#show td, #show th {
        border-bottom: 1px solid #ddd;
        background-color:lightblue;
        text-align:left;
 }
#show th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}


#backtoadd 
{
    padding:20px;
    margin-left:10px;
    margin-top:10px;
	float: left;
    
}
#input_group{
    float: right;
  padding: 6px 10px;
  margin-top: 8px;
  /*margin-right: 16px;*/
  font-size: 14px;
  border: none;
  cursor: pointer;
 }

#btngroup{
    margin-bottom:10px;    
    margin-top:20px;
    width:100%;
    height: 50px;
    clear:both;
}


